{% extends 'base.html' %}
{% block content %}

<br><br><br><br><br><br>
<form action='/new_url', METHOD='POST'>
  <div class="form-group">
    <label>Original URL</label>
    <input type="text" class="form-control" id="original_url" name="original_url" placeholder="http://www.example.com" required>
  </div>
  <div class="form-group">
    <label>Place preferred custom shortened URL here. It is not required</label>
    <input type="text" class="form-control" id="custom_url" name="custom_url" placeholder="short_url_here">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock %}